<p>
	<strong>Title:</strong>
	<%= @game.title %>
</p>

<h2>Characters</h2>
<%= render @game.characters %>

<h2>Add a character:</h2>
<%= render 'characters/form' %>

<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>