<h2>Sign Up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class='alert alert-danger' role='alert'>
      Form is invalid
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <p>
    <div class="actions"><%= f.submit "Sign Up" %></div>
  </p>
<% end %>
