<h2><%= @character.name %>'s Moves</h2>

<% @moves.keys.sort.each do |category| %>
	<h4><%= category %></h4>
	<% @moves[category].each do |moves| %>
		<%= render moves %>
	<% end %>
<% end %>
<% if current_user %>
<%= link_to ' New Move', new_character_move_path,
	class: "fa fa-plus-circle btn btn-xs btn-primary" %>
<% end %>

<p></p>
<p>
<%= link_to ' Back', game_characters_path(@character.game_id),
	class: "fa fa-arrow-circle-left btn btn-xs btn-primary" %>
</p>