<%= form_for @game do |g| %>
	<% if @game.errors.any? %>
		<div id="error_explanation">
			<div class='alert alert-danger' role='alert'>
				<%= pluralize(@game.errors.count, "error") %>
				stopped this game from being saved:
				<ul>
					<% @game.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<p>
		<%= g.label :title %><br>
		<%= g.text_field :title %>
	</p>

	<p>
		<%= g.submit %>
	</p>
<% end %>
