<%= form_for @game do |g| %>
	<% if @game.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@game.errors.count, "error") %>
				stopped this game from being saved:
			</h2>
			<ul>
				<% @game.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= g.label :title %><br>
		<%= g.text_field :title %>
	</p>

	<p>
		<%= g.submit %>
	</p>
<% end %>
