<!DOCTYPE html>
<html>
<head>
  <title>moves_list</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <a class='navbar-brand' href='/'>Move List</a>

    <button type='button' class='navbar-toggle'
            data-toggle='collapse'
            data-target='.navbar-collapse'>
      <span class='sr-only'>Login</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <li><%= link_to "About", games_about_path %></li>
      <li><%= link_to "Help", games_help_path %></li>
      <% if current_user %>
        <li><%= link_to "Log Out", log_out_path %></li>
      <% else %>
        <li><%= link_to "Sign Up", sign_up_path %></li>
        <li><%= link_to "Log In", log_in_path %></li>
      <% end %>
    </ul>
  </div>
</div>

<body>
  <% flash.each do |key, value| %>
    <% if key == "error" %>
    <div class='alert alert-danger' role='alert'>    
    <% else %>
    <div class='alert alert-success' role='alert'>
    <% end %>
      <div class="<%= key %>"><%= value %></div>
    </div>
  <% end %>

  <div class='container well'>
    <%= yield %>
  </div>
</body>

</html>
